body{ 
	font-family:'pretendard';
	background:linear-gradient(180deg,#FFC887 0%,rgba(255, 255, 255, 0) 43.27%),url("../image/bottom_bg.png");
	background-position: center top,center bottom;
	background-repeat: no-repeat,no-repeat;
	background-size:100vw 100vh,100vw 50vh;
	height:100%;
    font-weight: 400;
    color:#aaaaaa;
}
form{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table{
    margin-top:82px;
    width:65%;
    height:70%;
    padding:5px;
}

input[type="date"]{
    width:56%;
    margin-left:5%;
}
.file_label div{
    border:1px solid rgb(124, 124, 124);
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding:4.4px 0;
    cursor:pointer;
    border-radius: 2px;
    font-size:0.8em;
    color:rgb(41, 41, 41);

}
.file{
    padding:0;
    display:none;
}
input, select{
    border:1px solid #aaaaaa;
    border-radius:6px;
    background: #ffffff;
    width:86%;
    padding:12px;
}
input:focus ,select:focus, textarea:focus{
    outline:none;
    border:1px solid #6666ad;
}
.deceased_img{
    background-image:url("../image/deceased_img.png");
    background-position: center;
    height:100%;
    width:100%;

}
button{
    width:100%;
    padding:3px 0;
}
.title_text{
	font-size:2em;
	font-weight:bold;
    color:black;
}
.subtitle_text{
	font-size:1em;
    text-shadow: 0.5px 0.5px 0px rgb(167, 164, 164);
    color:#444444;
}
.textarea1 textarea{
    width:99%;
    height:6.25em;
    resize:none;
}
.textarea2 textarea{
    width:99%;
    height:8.25em;
    resize:none;
}
.residency{
    width:63%;
    height:70%;
    margin-bottom:10%;
}
.add_residency{
    float:right;
    cursor:pointer;
    border-radius: 2px;
    padding:2px 20px;
    font-size:0.8em;
    background-color: #F3B368;
    color:white;
}
.residency_item{
    margin: 10px 0;
}
.residency_item .first{
    padding:10px 0;
}
.residency_item .first input{
    width:55%;
}
.residency_item .first select{
    float:right;
    color:#aaaaaa;
    width:37%;
}
.residency_item .first select option[value=""][disabled]{
    display:none;
}
.residency_item .second input{
    width:55%;
}