<!DOCTYPE html>
<html>
	<head>
		<!--<link type="text/css" rel="stylesheet" media="(max-width:700px)" href="css/main_mobile.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link type="text/css" rel="stylesheet" media="(min-width:700px)" href="../css/login.css"></link>
		<meta charset="UTF-8">
		<title>로그인</title>

    </head>
    <body>
        <div class="table2">
            <form method="post" action="#">
                <table>
                        <tr height="20%">
                            <td class="one_td title_td" colspan="3"><span class="title">로그인</span></td>
                        </tr>
                        <tr height="20%">
                            <td class="one_td title_td" style="vertical-align: text-top" colspan="3">
                                <span class="subtitle">
                                    휴대전화로 전송된 4자리의 <br>인증번호를 입력해주세요.
                                </span>
                            </td>
                        </tr>
                        <tr height="15%">
                            <td class="one_td title_td" colspan="3">
                                <div class="phone_box">
                                    <input type="text" name="phone" class="auth_number" id="auth_number" placeholder="4자리를 입력해주세요">
                                </div>
                            </td>
                        </tr>
                        <tr height="15%">
                            <td class="one_td title_td" colspan="3">
                                <a href="./login.html">휴대전화 번호 재입력</a> | <a class="reflesh" onclick="code_receive();">인증코드 재전송</a>
                                <div><span id="time">남은시간 3:00</span></div>
                            </td>
                        </tr>
                        <tr height="15%">
                            <td class="one_td title_td" colspan="3">
                                <label>
                                    <input type="checkbox" name="terms" id="terms">
                                    이용약관 동의, 개인정보이용 동의, 제3자정보제공 동의, 위치 정보이용 동의의 모든 약관을 확인하였으며, 충분히 숙지하였고 동의합니다.
                                </label>
                            </td>
                        </tr>
                        <tr height="20%">
                            <td class="one_td" colspan="3"><div class="submit" onclick="submit();">로그인</div></td>
                        </tr>            
                        <tr height="2%">
                            <td width="45%"><hr></td>
                            <td width="10%">또는</td>
                            <td width="45%"><hr></td>
                        </tr>
                        <tr height="20%">
                            <td class="one_td" colspan="3">아직 계정이 없나요?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="register.html">회원가입</a></td>
                        </tr>
                    </tbody>
                </table>
            
            </form>
        </div>
        
        
        <script type="text/javascript" src="../script/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="../script/login2.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    </body>
    </html>