<!DOCTYPE html>
<html>
	<head>
		<!--<link type="text/css" rel="stylesheet" media="(max-width:700px)" href="css/main_mobile.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link type="text/css" rel="stylesheet" media="(min-width:700px)" href="../css/login.css"></link>
		<meta charset="UTF-8">
		<title>로그인</title>

    </head>
    <body>
        <form method="post" action="#">
            <table>
                <tbody>
                    <tr height="20%">
                        <td class="one_td title_td" colspan="3"><span class="title">로그인</span></td>
                    </tr>
                    <tr height="30%">
                        <td class="one_td title_td" style="vertical-align: text-top" colspan="3">
                            <span class="subtitle">
                                안녕하세요.애도입니다.<br>핸드폰 인증을 위해 휴대전화 번호를 입력해주세요.
                            </span>
                        </td>
                    </tr>
                    <tr height="15%">
                        <td class="one_td" colspan="3"><input type="text" name="phone" id="phone" placeholder="전화번호( '-' 없이)"></td>
                    </tr>
                    <tr height="20%">
                        <td class="one_td" colspan="3"><div class="submit" id="submit">인증 번호 전송</div></td>
                    </tr>            
                    <tr height="2%">
                        <td width="45%"><hr></td>
                        <td width="10%">또는</td>
                        <td width="45%"><hr></td>
                    </tr>
                    <tr height="20%">
                        <td class="one_td" colspan="3">아직 계정이 없나요?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="register.html">회원가입</a></td>
                    </tr>
                </tbody>
            </table>
        
        </form>
        
        
        
        <script type="text/javascript" src="../script/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="../script/login.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    </body>
    </html>