<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" media="(min-width:700px)" href="../css/obituary_manage.css"></link>
        <title>부고 관리</title>
    </head>
    <body>
        <header>
            <span class="title_text">부고 관리</span>
            <hr>
            <div class="search subtitle_text">통합검색&nbsp&nbsp<input type="text">&nbsp&nbsp<span>검색</span></div>
        </header>
        <main class="main_container">
            <div class="item">
                <div class="head">
                    <div class="info">
                        인천기독병원장례식장3호실<br>
                        故 고송준 (55세)
                    </div>
                    <div class="btn_container">
                        <div class="btn" onclick="view_detail(this);">상세보기</div>
                        <div class="btn">수정</div>
                        <div class="btn">공유</div>
                    </div>
                </div>
                <div class="detail_view">
                    <div class="residency_box">
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                    </div>
                    <div class="time">
                        <div class="decease time_box">
                            <div style="font-weight: bold;">별세</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="lay-out time_box">
                            <div style="font-weight: bold;">입관</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="Pronunciation time_box">
                            <div style="font-weight: bold;">발인</div>
                            <div>미정</div>
                            <div></div></div>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <div class="head">
                    <div class="info">
                        인천기독병원장례식장3호실<br>
                        故 고송준 (55세)
                    </div>
                    <div class="btn_container">
                        <div class="btn" onclick="view_detail(this);">상세보기</div>
                        <div class="btn">수정</div>
                        <div class="btn">공유</div>
                    </div>
                </div>
                <div class="detail_view">
                    <div class="residency_box">
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                    </div>
                    <div class="time">
                        <div class="decease time_box">
                            <div style="font-weight: bold;">별세</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="lay-out time_box">
                            <div style="font-weight: bold;">입관</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="Pronunciation time_box">
                            <div style="font-weight: bold;">발인</div>
                            <div>미정</div>
                            <div></div></div>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <div class="head">
                    <div class="info">
                        인천기독병원장례식장3호실<br>
                        故 고송준 (55세)
                    </div>
                    <div class="btn_container">
                        <div class="btn" onclick="view_detail(this);">상세보기</div>
                        <div class="btn">수정</div>
                        <div class="btn">공유</div>
                    </div>
                </div>
                <div class="detail_view">
                    <div class="residency_box">
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                    </div>
                    <div class="time">
                        <div class="decease time_box">
                            <div style="font-weight: bold;">별세</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="lay-out time_box">
                            <div style="font-weight: bold;">입관</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="Pronunciation time_box">
                            <div style="font-weight: bold;">발인</div>
                            <div>미정</div>
                            <div></div></div>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <div class="head">
                    <div class="info">
                        인천기독병원장례식장3호실<br>
                        故 고송준 (55세)
                    </div>
                    <div class="btn_container">
                        <div class="btn" onclick="view_detail(this);">상세보기</div>
                        <div class="btn">수정</div>
                        <div class="btn">공유</div>
                    </div>
                </div>
                <div class="detail_view">
                    <div class="residency_box">
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                    </div>
                    <div class="time">
                        <div class="decease time_box">
                            <div style="font-weight: bold;">별세</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="lay-out time_box">
                            <div style="font-weight: bold;">입관</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="Pronunciation time_box">
                            <div style="font-weight: bold;">발인</div>
                            <div>미정</div>
                            <div></div></div>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <div class="head">
                    <div class="info">
                        인천기독병원장례식장3호실<br>
                        故 고송준 (55세)
                    </div>
                    <div class="btn_container">
                        <div class="btn" onclick="view_detail(this);">상세보기</div>
                        <div class="btn">수정</div>
                        <div class="btn">공유</div>
                    </div>
                </div>
                <div class="detail_view">
                    <div class="residency_box">
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                        <div class="residency"><span class="relation">누나</span>&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;<span class="name">김태영</span></div>
                    </div>
                    <div class="time">
                        <div class="decease time_box">
                            <div style="font-weight: bold;">별세</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="lay-out time_box">
                            <div style="font-weight: bold;">입관</div>
                            <div>07월 21일</div>
                            <div>12:00</div>
                        </div>
                        <div class="Pronunciation time_box">
                            <div style="font-weight: bold;">발인</div>
                            <div>미정</div>
                            <div></div></div>
                    </div>
                </div>
                
            </div>
        </main>
        <script type="text/javascript" src="../script/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="../script/obituary_manage.js"></script>
    </body>
</html>