<!DOCTYPE html>
<html>
	<head>
		<!--<link type="text/css" rel="stylesheet" media="(max-width:700px)" href="css/main_mobile.css">-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link type="text/css" rel="stylesheet" media="(min-width:700px)" href="../css/obituary_write.css"></link>
		<meta charset="UTF-8">
		<title>부고 작성</title>

    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td colspan="4">
                        <span class="title_text">부고작성</span>
                        <br>
                        <span class="subtitle_text">작성은 간편하지만, 고마운 마음을 담아서 전달해보세요</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" height="50px"></td>
                </tr>
                <tr>
                    <td colspan="4" height="25px" class="subtitle_text">고인정보</td>
                </tr>
                <tr>
                    <td height="60px"><input type="text" placeholder="장례식장 명" id="funeral_name" disabled></td>
                    <td>
                        <select required name="" class="funeral_name" id="funeral_name_select">
                            <option value="" disabled selected >선택해주세요.</option>
                            <option>구례산 조합 장례식장</option>
                            <option>구례 병원 장례식장</option>
                            <option>구례 효사랑 요양병원 장례식장</option>
                            <option>새미소 요양병원 장례식장</option>
                        </select>
                    </td>
                    <td rowspan="3" colspan="2"><div class="deceased_img" id="preview-image"></div></td>
                </tr>
                <tr>
                    <td height="60px"><input type="text" placeholder="고인 명"></td>
                    <td class="deceased_info">
                        <input type="text" placeholder="나이">
                        <select required name="">
                            <option value="" disabled selected>성별</option>
                            <option>남</option>
                            <option>여</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td height="20px"></td>
                </tr>
                <tr class="file_btn">
                    <td width="45%"></td>
                    <td width="35%"></td>
                    <td width="10%">
                        <label for="input-file">
                            <div>등록</div><input type="file" id="input-file" accept="image/*" class="file">
                        </label>
                    </td>
                    <td width="10%"><div onclick="deleteImage();">삭제</div></td>
                </tr>
                <tr>
                    <td colspan="4" height="50px"></td>
                </tr>
                <tr>
                    <td colspan="4" height="25px" class="subtitle_text">장례정보</td>
                </tr>
                <tr>
                    <td height="70px">임종일 <input type="date"></td>
                    <td><input type="time"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td height="70px">입관일 <input type="date"></td>
                    <td><input type="time"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td height="70px">발안일 <input type="date"></td>
                    <td><input type="time"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4" height="30px">장치</td>
                </tr>
                <tr>
                    <td colspan="4" class="textarea1"><textarea placeholder="예) 1차장치 2차장치"></textarea></td>
                </tr>
                <tr>
                    <td colspan="4" height="30px">상주말씀</td>
                </tr>
                <tr>
                    <td colspan="4" class="textarea2"><textarea></textarea></td>
                </tr>
                <tr>
                    <td colspan="4" height="40px"></td>
                </tr>
            </table>
            <div class="residency">
                <span class="subtitle_text">대표상주</span><div class="add_residency">상주추가</div>
                <div class="residency_item1 residency_item">
                    <div class="first">
                        <input type="text" placeholder="상주 명">
                        <select required name="">
                            <option value="" disabled selected>관계</option>
                            <option value="">부</option>
                            <option value="">모</option>
                        </select>
                    </div>
                    <div class="second">
                        <input tpye="text" placeholder="연락처">
                    </div>
                </div>
            </div>
            <div class="submit">완료</div>
        </form>
        <script type="text/javascript" src="../script/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="../script/obituary_write.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
    </body>
    </html>