<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/obituary2.css">
    <script src="https://kit.fontawesome.com/a23ec17cc4.js" crossorigin="anonymous"></script>
    <script src="../script/obituary.js" defer></script>
    <title>부고 작성</title>

</head>

<body>
    <form method="post" action="#">
        <div class="maincontain">

            <div class="mainHeader">
                <span class="header"><b>부고작성</b></span>
                <span class="header_a">작성은 간편하지만, 고마운 마음을 담아서
                    전달해보세요</span>
            </div>



            <!--고인 정보-->
            <div class="di">
                <span><b>고인정보</b></span>
            </div>
            <div class="deceased">
                <div class="deceased_1">
                    <input type="text" name="placeName" class="placeName" id="placeName" value="" placeholder="장례식장 명">
                    <select class="placeChoice" name="placeChoice" size="1" style="width:32%; height:40%;">
                        <option value="">선택해주세요.</option>
                        <option value="#"></option>
                    </select>

                    <br>

                    <input type="text" name="deceasedName" class="deceasedName" id="deceasedName" value=""
                        placeholder="고인 명" maxlength="10" autocomplete='off'>

                    <input type="text" name="age" class="age" id="age" placeholder="나이">


                    <select class="sex" name="sex" onchange="choice(this)" size="1" style="width:15%; height:40%;">
                        <option value="">성별</option>
                        <option value="M">남자</option>
                        <option value="W">여자</option>
                    </select>

                    <br>

                </div>
                <img src="#" alt="올릴 사진">
            </div>
            <div class="SubAndDel">
                <button type="file" class="submit">등록</button>
                <button class="delete">삭제</button>
            </div>



            <!--장례 정보-->
            <div class="funeral">
                <span class="f_i"><b>장례정보</b></span>
                <br>
                <span>임종일</span>
                <input type="date" name="passAwayD" class="passAwayD" id="passAwayD" value="" autocomplete='off'>
                <input type="time" name="passAwayT" class="passAwayT" id="passAwayT" value="" autocomplete='off'>

                <br>

                <span>입관일</span>
                <input type="date" name="buriedD" class="buriedD" id="buriedD" value="" autocomplete='off'>
                <input type="time" name="buriedT" class="buriedT" id="buriedT" value="" autocomplete='off'>

                <br>

                <span>발인일</span>
                <input type="date" name="coffinD" class="coffinD" id="coffinD" value="" autocomplete='off'>
                <input type="time" name="coffinT" class="coffinT" id="coffinT" value="" autocomplete='off'>

            </div>



            <!--장지-->
            <div class="cemetery">
                <span>장지</span>
                <textarea class="cemeteryT" name="cemeterT" rows="5" cols="65" placeholder="예) 1차장지 2차장지 "></textarea>
            </div>


            <!--상주말씀-->
            <div class="Word">
                <span>상주말씀</span>
                <textarea class="residentWord" name="residentWord" rows="7" cols="65"></textarea>
            </div>


            <!--대표상주-->
            <div class="resident">
                <div class="ri">
                    <span><b>대표상주</b></span>
                    <input onclick="add_resident()" id="addResident" class="addResident" type="button" value="상주 추가">
                </div>

                <input type="text" name="residentName" class="residentName" size="5" id="residentName" value=""
                    placeholder="상주 명" maxlength="5" autocomplete='off'>
                <select class="relation" name="relation" size="1" style="width: 34%; height:40%;">
                    <option value="">관계</option>
                    <option value="Parents">Parents</option>
                    <option value="Brothers">Brothers</option>
                    <option value="Sisters">Sisters</option>
                </select>
                <br>
                <input type="text" name="residentPhone" class="residentPhone" size="11" id="residentPhone" value=""
                    placeholder="연락처" maxlength="11" autocomplete='off'>



                <hr>

                <style>
                    table {
                        border-collapse: collapse;
                    }

                    th,
                    td {
                        border: 1px solid gray;
                    }
                </style>

                <table id="residentTable" class="table" style="margin-top: 10px;">
                    <tbody id="addTable">
                        <tr>
                            <td width="84%" height="20%">
                                <input type="text" class="form-control" placeholder="상주명">
                            </td>
                            <td>
                                <select class="relation" name="relation" size="1">
                                    <option value="">관계</option>
                                    <option value="#">ex1</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control" placeholder="연락처">
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>


            <footer>
                <div class="makeObituary"><a href="#">완료</a></div>
            </footer>
        </div>
    </form>
</body>

</html>